<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{error_page}"></title>
    <th:block th:replace="blocks/bootstrapHead :: bootstrap"/>
</head>
<body>
<div th:replace="blocks/navbar :: navbar"></div>
<div class="container text-danger">
    <h2 th:text="#{error_happened}"/>
    <h2 th:text="${status}"/>
    <h3 th:if="${status == 400}" th:text="#{argument_exception}"/>
    <h3 th:if="${status == 403}" th:text="#{forbidden}"/>
    <h3 th:if="${status == 404}" th:text="#{not_found}"/>
    <h3 th:if="${status == 500}" th:text="#{server_exception}"/>
</div>
</body>
</html>