<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{faculties}"></title>
    <div th:replace="blocks/bootstrapHead :: bootstrap"></div>
</head>
<body>
<div th:replace="blocks/navbar :: navbar"></div>
<div class="container">
    <h1 th:text="#{all_faculties}"></h1>

    <div sec:authorize="hasAuthority('admin')">
        <a href="#" th:text="#{add_faculty}"/>
    </div>

    <form action="/faculties" method="get">
        <label for="order" th:text="#{order}">

        </label>
        <select name="order" id="order">
            <option value="byId" th:text="#{by_id}"/>
            <option value="byName" th:text="#{by_name}"/>
            <option value="byNameRevers" th:text="#{by_name_reverse}"/>
            <option value="byBudget" th:text="#{by_budget_seats}"/>
            <option value="byTotal" th:text="#{by_total_seats}"/>
        </select>
        <button class="btn btn-light" th:text="#{order_button}"/>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" th:text="#{id}"/>
            <th scope="col" th:text="#{name}"/>
            <th scope="col" th:text="#{budget_seats}"/>
            <th scope="col" th:text="#{total_sears}"/>
            <th scope="col" th:text="#{request}"/>
            <th scope="col" sec:authorize="hasAuthority('admin')" th:text="#{delete}"/>
            <th scope="col" sec:authorize="hasAuthority('admin')" th:text="#{change}"/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="faculty : ${faculties}">
            <th scope="row" th:text="${faculty.id}"></th>
            <th scope="row" th:text="${faculty.facultyName}"></th>
            <th scope="row" th:text="${faculty.budgetSeats}"></th>
            <th scope="row" th:text="${faculty.totalSeats}"></th>
            <td><a th:href="@{/request(facultyId=${faculty.id})}" th:text="#{request_href}"/></td>
            <td sec:authorize="hasAuthority('admin')">
                <a th:href="@{/delete(facultyId=${faculty.id})}" th:text="#{delete}"/>
            </td>
            <td sec:authorize="hasAuthority('admin')">
                <a href="#" th:text="#{change}"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>