<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Selection Committee</title>
    <div th:replace="blocks/bootstrapHead :: bootstrap"></div>
</head>
<body>
    <div th:replace="blocks/navbar :: navbar"></div>
    <div class="container">
        <h2>Faculties</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">budget_seats</th>
                <th scope="col">total_sears</th>
                <th scope="col">request</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="faculty : ${faculties}">
                    <th scope="row" th:text="${faculty.id}"></th>
                    <th scope="row" th:text="${faculty.facultyName}"></th>
                    <th scope="row" th:text="${faculty.budgetSeats}"></th>
                    <th scope="row" th:text="${faculty.totalSeats}"></th>
                    <td><a href="#">request_href</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>