<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{request}"></title>
    <th:block th:replace="blocks/bootstrapHead :: bootstrap"/>
</head>
<body>
<div th:replace="blocks/navbar :: navbar"></div>
<div class="container">
    <h1 th:text="#{faculty}"/>
    <ul>
        <li th:text="#{name} + ' : ' + ${faculty.facultyName}"/>
        <li th:text="#{budget_seats} + ' : ' + ${faculty.budgetSeats}"/>
        <li th:text="#{total_sears} + ' : ' + ${faculty.totalSeats}"/>
    </ul>
    <a th:href="@{/send_request(facultyId=${faculty.id})}"
       class="btn btn-secondary"
       role="button"
       th:text="#{send_request}"/>
    <h1 th:text="#{request}"/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col" th:text="#{id}"/>
            <th scope="col" th:text="#{fullname}"/>
            <th scope="col" th:text="#{main_subject}"/>
            <th scope="col" th:text="#{second_subject}"/>
            <th scope="col" th:text="#{sub_subject}"/>
            <th scope="col" th:text="#{raging_score}"/>
            <th scope="col" th:text="#{average_attestation_score}"/>
            <th scope="col" th:text="#{status}"/>
            <th scope="col" sec:authorize="hasAuthority('admin')" th:text="#{add_to_realize}"/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${requests}">
            <th scope="row" th:text="${request.id}"/>
            <td th:text="${request.applicantId}"/>
            <td th:text="${request.mainSubject}"/>
            <td th:text="${request.secondSubject}"/>
            <td th:text="${request.subSubject}"/>
            <td th:text="${request.ratingScore}"/>
            <td th:text="${request.averageAttestationScore}"/>
            <td th:switch="${request.status}">
                <th:block th:case="'not processed'" th:text="#{not_processed}"/>
                <th:block th:case="'budget'" th:text="#{budget}"/>
                <th:block th:case="'recommend budget'" th:text="#{recommend_budget}"/>
                <th:block th:case="'contract'" th:text="#{contract}"/>
                <th:block th:case="'recommend contract'" th:text="#{recommend_contract}"/>
                <th:block th:case="'allowed'" th:text="#{allowed}"/>
                <th:block th:case="'not allowed'" th:text="#{not_allowed}"/>
            </td>
            <td sec:authorize="hasAuthority('admin')">
                <a th:href="@{/add_to_realize(facultyId=${faculty.id}, requestId=${request.id})}" th:text="#{add_to_realize}"/>
            </td>
        </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link"
                   th:href="@{/request(facultyId=${faculty.id}, page=${page}-1)}"
                   th:text="#{previous}">
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   th:href="@{/request(facultyId=${faculty.id}, page=${page}+1)}"
                   th:text="#{next}">
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>